@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


#content{
margin-left: 250px;
height: 100%;
  width: calc(100% - 250px);
}

:root {
  --celestial-blue: #1996D0;
  --platinum: #DFE3E6;
  --flame: #E55823;
  --carrot-orange: #F2931F;
  --lapis-lazuli: #0047FE;
  --davys-gray: #4E4E4E;
  --blue-gradient-light: linear-gradient(75deg, #0047FE 19.35%, #42D7F8 90.12%);
  --blue-gradient-dark: linear-gradient(75deg, #2c67ff 19.35%, #0030ab 90.12%);
  --orange-gradient-light: linear-gradient(75deg, rgba(242,147,31,1) 0%, rgba(255,204,142,1) 70%);;
  --orange-gradient-dark: linear-gradient(71deg, rgba(229,88,35,1) 0%, rgba(255,168,136,1) 70%);
  --gray-gradient-light: linear-gradient(71deg, rgba(120,120,120,1) 0%, rgba(223,227,230,1) 70%);
  --gray-gradient-dark: linear-gradient(71deg, rgba(130,130,130,1) 0%, rgba(78,78,78,1) 70%);
  font-family: 'Montserrat', sans-serif;
}

.background-gradient-light-blue{
  background: var(--blue-gradient-light);
  color: white;
  & i{
    color: white;
  }
}

.background-gradient-dark-blue{
  background: var(--blue-gradient-dark);
  color: white;
  & i{
    color: white;
  }
}

.background-gradient-light-orange{
  background: var(--orange-gradient-light);
  color: white;
  & i{
    color: white;
  }
}

.background-gradient-dark-orange{
  background: var(--orange-gradient-dark);
  color: white;
  & i{
    color: white;
  }
}

.background-gradient-light-gray{
  background: var(--gray-gradient-light);
  color: white;
  & i{
    color: white;
  }
}

.background-gradient-dark-gray{
  background: var(--gray-gradient-dark);
  color: white;
  & i{
    color: white;
  }
}


.title
{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}



button{
  font-family: inherit;
  border: 0;
  border-radius: 0.25rem;
  background-color: rgb(242 147 31);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: rgb(200 110 20);
}

a{
  text-decoration-line: underline;
  color: rgb(242 147 31);
}

a:hover{
  cursor: pointer;
}

.input-field{
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border: 1px rgb(223 227 230);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 0 3px 0 rgba(190,190,190,1);
}

input[type="submit"]{
  background-color:  #F2931F;
  color: #fff; 
  padding: 10px 20px;
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 
 
}

input[type="submit"]:hover {
  background-color: rgb(200 110 20);
}


input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

input[type="file"]::before {
  content: "Importar"; /* Replace with your custom text */
  display: inline-block;
  background: var(--carrot-orange); /* Style the custom text */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  margin-left: 5px;
}
.app-title{
  display: flex;
  margin-bottom: 2rem;
}

.app-title h1{
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #787878;
  font-weight: 700;
  text-align: center;
  margin-left: 1.25rem;
}

.app-title p{
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: #787878;
  font-weight: 700;
  text-align: center;
  margin-left: 1.25rem;
}

/*#region tabelas*/
.table-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

table{
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.table-row{
  height: 8rem;
  min-width: 100rem;
  border-radius: 5rem;
  -moz-border-radius: 1rem;
  background-color: var(--platinum);

  & div{
    overflow: hidden;
    border-radius: 50%;
    display: flex;
  }

  & img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }

  & .removeBtn {
    color: var(--flame);
  }

  & .detailsBtn{
    color: var(--lapis-lazuli);
  }

  & .editBtn{
    color: var(--celestial-blue);
  }

  & td{
    padding: 0.3rem 0.75rem;
    vertical-align: middle;
    text-align: center;
  }

  & td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  & td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
/*#endregion*/