*{
  margin: 0px;
  box-sizing: border-box;
}


:root {
  --celestial-blue: #1996D0;
  --white: #FFFFFF;
  --platinum: #DFE3E6;
  --flame: #E55823;
  --carrot-orange: #F2931F;
  --lapis-lazuli: #115A7D;
  --davys-gray: #4E4E4E;
  --blue-gradient: linear-gradient(71deg, #0047FE 19.35%, #42D7F8 90.12%);
}