@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

#content{
margin-left: 250px;
}

:root {
  --celestial-blue: #1996D0;
  --white: #FFFFFF;
  --platinum: #DFE3E6;
  --flame: #E55823;
  --carrot-orange: #F2931F;
  --lapis-lazuli: #115A7D;
  --davys-gray: #4E4E4E;
  --blue-gradient: linear-gradient(71deg, #0047FE 19.35%, #42D7F8 90.12%);
  font-family: 'Montserrat', sans-serif;
}

.title
{
  background-color: var(--platinum);
  height: 50px;
}

table.cool-table {
border-collapse: collapse;
width: 100%;
max-width: 1200px;
margin: 0 auto;
margin-top: 30px;
font-family: Arial, sans-serif;
}

table.cool-table caption {
font-size: 1.5rem;
margin-bottom: 10px;
text-align: center;
}

table.cool-table th {
padding: 10px;
text-align: left;
}

table.cool-table td {
border: 1px solid #ddd;
padding: 10px;
}

table.cool-table tbody tr:nth-child(even) {
background-color: #f2f2f2;
}

table.cool-table tbody tr:hover {
background-color: var(--carrot-orange);
}

button{
  border: 0;
  border-radius: 0.25rem;
  background-color: rgb(242 147 31);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: rgb(200 110 20);
}

a{
  text-decoration-line: underline;
  color: rgb(242 147 31);
}

a:hover{
  cursor: pointer;
}