.navbar {
    height: 100%; 
    width: 250px; 
    background: var(--blue-gradient-light);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 1rem 1rem;
}

.navbar li {
    padding: 1rem;
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
}

.icon{
    display: flex;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block; 
}

#sair li{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#menu li:hover,#sair li:hover {
    background-color: var(--carrot-orange);
    cursor: pointer;
}

#role{
    color: var(--carrot-orange)
}
