.container {    
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.student-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
}

.student-card h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #787878;
    font-weight: 700;
    text-align: center;
}

.user-img{
    display: block;       
    margin: 0 auto;
    max-width: 10rem;
}

i{
    margin-left: 10px;
}

.grid-container{
    display: grid;
    grid-template-areas:
"chart details"
"evaluations evaluations";
    gap: 2rem;
    padding: 2rem;
}

.details-container{
    grid-area: details;
}

.chart-container{
    grid-area: chart;
}

.evaluations-container{
    grid-area: evaluations;
}

.student-eval-chart{

}