.container {    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.student_form {
    width: 100%;
    max-width: 600px; 
    min-height: 700px;
    max-height: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.student_form h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #787878;
    font-weight: 700;
    margin-left: 1.25rem;
    text-align: center;
}

table{
    margin: 0 auto;
    border-radius: 1rem;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.users-table-row{
    height: 6rem;
    background-color: white;
    min-width: 100rem;
    border-radius: 1rem;

    & div{
        overflow: hidden;
        border-radius: 50%;
    }

    & img{
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }

    & td{
        padding: 0.3rem 0.75rem;
        vertical-align: middle;
        text-align: center;
    }
}


.table-container{
    background-color: var(--platinum);
    width: 100%;
}

.user_avatar{
    
    display: block;       
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 200px;
}